@use "../../config";

.forks {
    ul {
        list-style: none;
        padding: 0;

        li > a {
            text-decoration: none;
            color: config.$text-color;
            display: flex;
            align-items: center;
            background-color: #fff;
            margin-bottom: 1rem;
            padding: 1rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        }
    }

    .no-data {
        color: config.$text-color;
        text-align: center;
    }
}
