@import url("https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800,900&display=swap");

$font-family: "Muli", sans-serif;
$primary-color: #545176;
$body-bg-color: #ecf2f7;
$text-color: #333;
$light-color: #999;
