@use "./config";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: config.$body-bg-color;
    font-family: config.$font-family;
    font-size: 16px;
    margin: 0;
}
